<div class="container">

  <div class="px-4 py-5 text-center">
    <div class="display-6 mb-5">Oops! You bumped into the wrong place.</div>

    <%= link_to "Shorten a URL", new_url_creation_path, class: "btn btn-primary" %>

  </div>    

</div>
