<div class="d-flex justify-content-center align-items-center flex-column">

    <h1 class="mt-5 mb-2">
        <%= yield :form_title %>
    </h1>

    <p class="mb-5 text-secondary">
        <%= yield :form_subtitle %>
    </p>

    <%= yield :form_body %>
    
</div>